{# inventory/templates/admin/inventory/device/change_form.html #}
{% extends "admin/change_form.html" %}
{% load static i18n admin_urls %}

{% block extrahead %}
  {{ block.super }}
  <script>
    // Location cascade is handled via DeviceAdmin.location_options_view
    window.__deviceLocUrl = "{% url 'admin:inventory_device_device_location_options' %}";
  </script>
{% endblock %}

{% block object-tools-items %}
  {{ block.super }}
  {% if original and original.pk %}
    <li>
      <a class="historylink"
         href="{% url 'inventory_admin:inventory_device_passport' original.pk %}">
        Device Passport PDF
      </a>
    </li>
  {% endif %}
{% endblock %}
