{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  <div style="max-width: 600px; margin-top: 20px;">
    <h1>🔐 Нууц үг солих шаардлагатай</h1>

    <p>
      Анхны нэвтрэлт тул аюулгүй байдлын үүднээс нууц үгээ заавал шинэчилнэ үү.
    </p>

    <form method="post" novalidate>
      {% csrf_token %}

      <div style="margin-top: 15px;">
        {{ form.as_p }}
      </div>

      <button type="submit" class="btn btn-success">
        Хадгалах
      </button>
    </form>
  </div>
{% endblock %}
